<md-sidenav-layout style="height: 100%;">
	<md-sidenav opened="true" mode="side" align="start" class="padding">
		<left-sidenav
				[(currentUser)]="currentUser"
				(onSaveNewUser)="onSaveNewUser($event)"
				(onLogInUser)="onLogInUser($event)"
				(onVkAuth)="onVkAuth()"
				(onSyncAudio)="onSyncAudio()"
				(onUploadMedia)="onUploadMedia()"
				[message]="sideNavMessage"
				[allowToCreateFirstUser]="users && users.length ? false : true">
		</left-sidenav>
	</md-sidenav>

	<audio-player [audio]="currentMedia" (onEnded)="nextMedia()"></audio-player>

	<a *ngIf="showGoBackToAllMedia" href (click)="loadAllMedia()">< Go back to all media</a>

	<md-progress-bar *ngIf="!loaded" mode="indeterminate"></md-progress-bar>

	<media-list class="padding" [(list)]="mediaList" [(currentMedia)]="currentMedia" [message]="mediaListMessage" (mediaSelect)="mediaSelected($event)" (onLoadList)="mediaListLoaded($event)"></media-list>

	<md-sidenav opened="true" mode="side" align="end" class="padding">
		<right-sidenav
				[currentUser]="currentUser"
				(currentPlaylistChange)="showPlaylistMedia($event)">
		</right-sidenav>
	</md-sidenav>
</md-sidenav-layout>

