<md-sidenav-layout style="height: 100%;">
	<md-sidenav opened="true" mode="side" align="start" class="padding">
		<sidenav
				[(currentUser)]="currentUser"
				(onSaveNewUser)="onSaveNewUser($event)"
				(onLogInUser)="onLogInUser($event)"
				(onVkAuth)="onVkAuth()"
				(onSyncAudio)="onSyncAudio()"
				(onUploadMedia)="onUploadMedia()"
				[message]="sideNavMessage"
				[allowToCreateFirstUser]="users && users.length ? false : true">
		</sidenav>
	</md-sidenav>

	<audio-player [audio]="currentMedia" (onEnded)="nextMedia()"></audio-player>

	<div class="padding">
		<h3>{{listLabel || 'Audio list:'}}</h3>
		<p [hidden]="loaded && mediaList && mediaList.length">{{message || 'No media :( You are logged in?'}}</p>
		<md-progress-bar *ngIf="!loaded" mode="indeterminate"></md-progress-bar>
		<ul>
			<li *ngFor="let audio of mediaList" [ngClass]="{'bold': audio == currentMedia}"><a href (click)="setCurrentMedia(audio)">{{audio.artist}} - {{audio.title}}</a></li>
		</ul>
	</div>
</md-sidenav-layout>

