<h3>Control panel</h3>

<div *ngIf="currentUser">
	<h5>{{currentUser.login}}</h5>

	<h6>You can manual upload audio:</h6>

	<div>
		<input ng2FileSelect [uploader]="uploader" multiple type="file">
		<br><br>
		<button color="primary" md-raised-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload files</button>
		<br>
		<md-progress-bar *ngIf="uploader.isUploading" mode="indeterminate"></md-progress-bar>
	</div>

	<h6>Or load your audio from vk:</h6>

	<button *ngIf="currentUser.vk && currentUser.vk.id" color="accent" md-raised-button (click)="syncAudio()">Sync VK Audio</button>
	<button *ngIf="!currentUser.vk || !currentUser.vk.id" md-raised-button (click)="vkAuth()">Bind vk profile</button>
</div>

<div *ngIf="!currentUser">
	<button class="margin-bottom" color="primary" md-raised-button (click)="newUser = {}" *ngIf="allowToCreateFirstUser && !newUser">Manual create first user</button>

	<md-card *ngIf="newUser" class="margin-bottom">
		<md-card-subtitle>Manual create first user</md-card-subtitle>
		<md-card-content>
			<md-input placeholder="Login" [(ngModel)]="newUser.login"></md-input>

			<md-input placeholder="Password" type="password" [(ngModel)]="newUser.password"></md-input>
		</md-card-content>
		<md-card-actions>
			<button md-raised-button color="warn" (click)="newUser = null">Cancel</button>
			<button md-raised-button color="primary" (click)="saveNewUser()">Save</button>
		</md-card-actions>
	</md-card>
	<br>

	<button class="margin-bottom" color="primary" md-raised-button (click)="logInUser = {}" *ngIf="!allowToCreateFirstUser && !logInUser">Login/password Auth</button>

	<md-card *ngIf="logInUser" class="margin-bottom">
		<md-card-subtitle>Login/password Auth</md-card-subtitle>
		<md-card-content>
			<md-input placeholder="Login" [(ngModel)]="logInUser.login"></md-input>

			<md-input placeholder="Password" type="password" [(ngModel)]="logInUser.password"></md-input>
		</md-card-content>
		<md-card-actions>
			<button md-raised-button color="warn" (click)="logInUser = null">Cancel</button>
			<button md-raised-button color="primary" (click)="logIn()">Log in</button>
		</md-card-actions>
	</md-card>
	<br>

	<button color="primary" md-raised-button (click)="vkAuth()">VK Auth</button>
</div>


<p>{{message}}</p>